.section--sparkles {
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
	min-height: 100vh;
	width: 100%;
}
@media (min-width: 1200px) {
	.section--sparkles {
		overflow: hidden;
	}
}
.sparkles {
  position: absolute;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
}
@media (min-width: 700px) {
  .sparkles {
    height: 100vh;
  }
}

.sparkle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: block;
  height: 50px;
  width: 50px;
  background-image: url("download.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  animation-name: sparkle;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  opacity: 0;
}

.sparkle--small {
  height: 30px;
  width: 30px;
}

.sparkle--left {
  animation-name: sparkleLeft;
}

@keyframes sparkle {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  3% {
    transform: scale(1) rotate(15deg);
    opacity: 1;
  }
  6% {
    transform: scale(1) rotate(15deg);
    opacity: 1;
  }
  9% {
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes sparkleLeft {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  3% {
    transform: scale(1) rotate(-15deg);
    opacity: 1;
  }
  6% {
    transform: scale(1) rotate(-15deg);
    opacity: 1;
  }
  9% {
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }
}
/*
* Unrelated... but pretty like.
*/
body {
  margin: 0;
}


.bg-pt {
	background: url(bg_pt.webp) repeat;
	background-size: auto;
	background-position: center;
	height: 100vh;
	display: table;
	width: 100%;
}



.srdp-img {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-align: -webkit-center;
}



@media (max-width: 1375px) {
.width-img{
		width: 30%;
}
}

@media (max-width: 1199px) {
.width-img{
		width: 35%;
}
}

@media (max-width: 991px) {
.width-img{
		width: 40%;
}
}

@media (max-width: 768px) {
.width-img{
		width: 50%;
}
}

@media (max-width: 575px) {
.width-img{
		width: 70%;
}
}

@media (max-width: 414px) {
.width-img{
		width: 80%;
}
}

@media (max-width: 320px){
.width-img {
    width: 85%;
	margin-top: -20%;
}
}

/*platform-ipad*/
/* Landscape*/
@media only screen 
and (min-device-width: 728px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2)  
and (orientation: landscape)  {
.width-img{
		width: 40%;
}		
}

/* Portrait*/
@media only screen 
and (min-device-width: 728px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2)  
and (orientation: portrait)  {
.width-img{
		width: 70%;
}	
}




/*platform-ipad-pro*/
/* Landscape*/
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px) 
and (-webkit-min-device-pixel-ratio: 2)  
and (orientation: landscape)  {
.width-img{
		width: 30%;
}		
}

/* Portrait*/
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px) 
and (-webkit-min-device-pixel-ratio: 2)  
and (orientation: portrait)  {
.width-img{
		width: 70%;
}	
}






